@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.FileList-container {
    width: 70vw;
    margin: 20px auto;
    margin-bottom: 100px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.FileList-header {
    display: grid;
    grid-template-columns: 1fr 9fr repeat(4, 1fr);
    align-items: center;
    color: #575757;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.FileList-path_container {
    display: grid;
    grid-template-columns: 1fr 9fr repeat(4, 1fr);
    align-items: center;
    color: #575757;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.FileList-pathDir {
    grid-column-start: 2;
}
.FileList-pathOneDir:hover {
    text-decoration: underline;
    cursor: pointer;
}
.FileList-path_sign {
    margin-left: 10px;
    margin-right: 10px;
}
.FileList-name {
    grid-column-start: 2;
}
.FileList-date {
    grid-column-start: 3;
    justify-self: center;
}
.FileList-size {
    grid-column-start: 5;
    justify-self: center;
}
.FileList-back {
  width: 50px;
  height: 30px;
  line-height: 0px;
  background: white;
  transition: .3s;
  border: 0px;
  border-radius: 45px;
  color: #575757;
  font-size: 20px;
  position: absolute;
  margin-top: -10px;
}
.FileList-back:hover {
    box-shadow: 0 0px 10px #a3a3a3;
    background-color: #f7f7f7;
}
@media only screen and (max-width: 1100px) {
    .FileList-container {
        margin-top: 60px;
    }
}
.FileList-drag_and_drop_area {
    position: fixed;
    left: 50%;
    margin-left: -35vw;
    width: 70vw;
    height: 80vh;
    border: 3px;
    border-color: #b2b2b2;
    border-style: dotted;
    background: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}