@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.FileList-container {
    width: 900px;
    margin: 20px auto;
    margin-bottom: 100px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.FileList-header {
    display: grid;
    grid-template-columns: 1fr 9fr repeat(4, 1fr);
    align-items: center;
    color: #575757;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.FileList-name {
    grid-column-start: 2;
}
.FileList-date {
    grid-column-start: 3;
    justify-self: center;
}
.FileList-size {
    grid-column-start: 5;
    justify-self: center;
}
.FileList-back {
  width: 50px;
  height: 30px;
  line-height: 0px;
  background: white;
  transition: .3s;
  border: 0px;
  border-radius: 45px;
  color: #575757;
  font-size: 20px;
  position: absolute;
  margin-top: -10px;
}
.FileList-back:hover {
    box-shadow: 0 0px 10px #a3a3a3;
    background-color: #f7f7f7;
}
/* .FileList-File-enter-active {
    animation: FileList-File-enter 500ms forwards;
}
@keyframes FileList-File-enter {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */